.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 2px solid red;
  outline: none;
}

.activeFilter {
  background-color: aquamarine;
}

.isDone {
  opacity: 0.5;
}